.container {
  margin: 20px;
  margin-bottom: 0px;
  display: flex;
}

.teamScoreContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.teamScore {
  text-align: center;
  margin: 5px;
}

.teamLogoContainer {
  height: 110px;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  margin: 8px;
}

.gameStatusContainer {
  align-self: center;
  margin: 4px;
}

.img {
  max-height: 110px;
}
