.container {
  text-align: center;
  display: grid;
  grid-template-rows: min-content min-content auto;
  height: 100%;
}

.gameScoresContainer {
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
