.container {
  text-align: center;
  border-style: groove;
  width: 330px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  justify-self: center;
  border-radius: 3px;
}

.container:hover {
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.teamScoreContainer {
  display: flex;
  flex-direction: row;
  margin: 3px;
  align-items: center;
}

.teamScore {
  float: right;
}

.team {
  flex-grow: 1;
  text-align: left;
}

.teamLogoContainer {
  height: 25px;
  width: 25px;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  margin-right: 8px;
}

.img {
  max-height: 25px;
  max-width: 25px;
}
