.container {
  align-content: center;
  text-align: center;
  margin: 10px;
  min-height: 300px;
}

p {
  font-weight: bold;
}

.stat {
  margin-left: 10px;
}

.playerImageContainer {
  position: relative;
}

.playerImage {
  height: 100px;
  width: 130px;
}

.blankPlayerImage {
  height: 100px;
  width: 100px;
}

.removeButton {
  position: absolute !important;
  top: -10px;
  right: 20px;
  height: 36px;
  width: 36px !important;
  min-width: 36px !important;
  background-color: #cd2020 !important;
}

.MuiAutocomplete-root {
  margin: auto;
  width: 200px;
}
