.container {
  align-content: center;
  text-align: center;
  margin: 10px;
  min-height: 300px;
}

.playerImageContainer {
  position: relative;
}

.playerImage {
  height: 100px;
  width: 130px;
}

.blankPlayerImage {
  height: 100px;
  width: 100px;
}

.removeButton {
  position: absolute !important;
  top: 0;
  right: 0;
}

.MuiAutocomplete-root {
  margin: auto;
  width: 200px;
}
